<!-- if statement //-->
{% if myvar %}
<h1>template page is {{ myvar }}</h1>
{% else %}
<h1>no variable passed in</h1>
{% endif %}

<!-- for loop statement //-->
{% for link in links %}
<a href="{{ link }}">Here is a link!</a>
{% endfor %}
